LOCAL_IP=192.0.2.1
DNSMASQ_START=192.0.2.2
DNSMASQ_END=192.0.2.2
LOCAL_INTERFACE=eth1
MASQUERADE_NETWORK=192.0.2.0/24
POWER_DRIVER=nova.virt.baremetal.ipmi.IPMI
VIRTUAL_POWER_USER=stack
VIRTUAL_POWER_HOST=192.168.122.1
