LOCAL_IP=192.0.2.1
DNSMASQ_START=192.0.2.4
DNSMASQ_END=192.0.2.4
LOCAL_INTERFACE=eth1
MASQUERADE_NETWORK=192.0.2.0/24
POWER_DRIVER=nova.virt.baremetal.ipmi.IPMI
VIRTUAL_POWER_USER=stack
VIRTUAL_POWER_HOST=193.168.122.1
DHCP_START=192.0.2.5
DHCP_END=192.0.2.24
NETWORK_CIDR=192.0.2.0/24
NETWORK_GATEWAY=192.0.2.1
